<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

        <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Lists</h4>
                        <p class="category">Organize your contacts using lists.</p>
                    
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Number of Contacts</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Niger</td>
                                    <td>3000</td>
                                    <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Curaçao</td>
                                    <td>2000</td>
                                    <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Netherlands</td>
                                    <td>1000</td>
                                         <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Korea, South</td>
                                    <td>342</td>
                                      <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Malawi</td>
                                    <td>443</td>
                                      <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Chile</td>
                                    <td>878</td>
                                      <td class="text-danger">
                                        
                                            <div class="dropdown">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Subscriber Manager</a></li>
                                                    <li><a href="#">List Settings</a></li>
                                                    <li><a href="#">Replicate</a></li>
                                                    <li class="divider">Add a Subscriber</li>
                                                    <li><a href="#">Import Subscribers</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Delete List</a></li>
                                                    <li><a href="#">Rename List</a></li>

                                                </ul>
                                            </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
          <!--   <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Company (disabled)</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email address</label>
                                    <input type="email" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Fist Name</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Adress</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">City</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Postal Code</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">

                        <img class="img" src="../assets/img/Letter-T-black-icon128.png" />
                    </a>
                </div>

                <div class="content">
                   <!--  <h6 class="category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4> -->
                    <p class="card-content">
                        All Lists need to be approved by the authorized personnel, after creating it.
                        Sending Emails will not be permitted to unapproved lists.
                    </p>

                    <a href="#pablo" class="btn btn-danger btn-round">Add a New List</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
